body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: url('../assets/eth5.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.container {
    width: 750px;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.650);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 20px auto;
}

h1 {
    font-size: 32px;
    color: #090909;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #0a0909;
    margin-bottom: 25px;
}

p {
    color: #090909;
}

#transactionContainer {
    width: 80%;
    margin-top: 20px;
    background-color: rgba(124, 123, 123, 0.65);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
    margin-left: 10%;
    align-items: center;
}

.transaction {
    font-size: 16px;
    color: #070707;
    margin-bottom: 10px;
}



@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
